* {
  margin: 0;
  padding: 0;
  font-size: 1vw;
  font-family: sans-serif;
}

.display {
  display: block;
  width: 900px;
  height: 500px;
  border: 2px solid black;
  margin: auto;
}

.display-main {
  display: block;
  width: 760px;
  height: 500px;
  background-color: darkgray;
  float: left;
}

.display-list {
  border-left: 2px solid black;
  width: 15%;
  height: 100%;
  float: right;
}

.display-list ul {
  list-style: none;
  min-height: 50%;
}

.display-box {
  margin: auto;
  text-align: center;
}

.computer li {
  list-style: none;
}

.display-list ul li {
  margin: auto;
  margin-top: 1%;
  width: 80%;
  background-color: red;
  text-align: center;
}

.display-list ul li:hover {
  cursor: pointer;
}
