.edv-1 {
  width: 150px;
  height: 50px;
  background-color: red;
}

.edv-2 {
  width: 150px;
  height: 50px;
  background-color: blue;
}

.edv-3 {
  width: 150px;
  height: 50px;
  background-color: yellow;
}
