* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

html, body {
  height: 100%;
}

#cookie {
  background-color: rgba(37, 48, 61, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
  text-align: center;
}

#cookie p {
  font-size: 1.3rem;
  background-color: gray;
  border: 2px solid white;
  margin-top: 10%;
  width: 50%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border-radius: 10px;
  animation: fadein 1s;
}

#cookie button {
  background-color: transparent;
  border: 0;
  font-size: 1.3rem;
  margin-top: 5%;
  transition: 0.5s;
  color: white;
  float: right;
}

#cookie button:hover {
  color: darkgray;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#header {
  background-color: rgba(37, 48, 61, 1);
  text-align: center;
  width: 100%;
  height: auto;
  max-height: 80px;
}

#header h1 a:hover {
  cursor: pointer;
}

#header h1 a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 3px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#icon-account {
  position: absolute;
  width: 25px;
  right: 1%;
  top: 1%;
}

#icon-account:hover {
  cursor: pointer;
}

.icon-account-data {
	display: none;
	background-color: rgba(37, 48, 61, 1);
	width: 7.5%;
	position: absolute;
	right: 0;
	margin-top: -0.2%;
	padding: 0.5%;
}

.icon-account-data h5 {
	color: white;
	margin: 5% 0% 2% 0%;
}

.icon-account-data a {
	display: block;
	font-size: 1em;
	text-decoration: none;
	color: white;
	margin: 5% 0% 2% 0%;
  transition: 0.5s;
}

.icon-account-data a:hover {
  color: darkgray;
}

/* MAIN */

#main {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 2.5%;
}

#error {
  background-color: red;
  float: right;
  padding: 1%;
  width: 20%;
  margin: 2% 2% 0% 0%;
  color: white;
  background-color: rgba(37, 48, 61, 1);
  border: 2px solid red;
  animation: error 10s;
  opacity: 0;
}

@-webkit-keyframes error {
  0% {
    opacity: 0;
  }
  15% {
      opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



#main button {
  border: 0;
  background-color: rgba(37, 48, 61, 1);
  float: right;
  padding: 0.75%;
  color: white;
  width: 15%;
}

#main button:hover {
  cursor: pointer;
}

/* MAIN SIDE NAVIGATION*/

#main-sidenav {
  width: 12.5%;
  border-radius: 10px;
  background-color: rgba(37, 48, 61, 1);
  animation: sidenav 0.5s;
  position: fixed;
  padding-bottom: 0.5%;
}

#main-sidenav hr {
  margin: 4% 0% 4% 0%;
}

#main-sidenav h5 {
padding: 5% 0% 0% 5%;
font-size: 1.5em;
color: white;
}

#main-sidenav ul {
  list-style: none;
  width: 80%;
  margin-left: 10%;
}

#main-sidenav ul li a {
  display: block;
  padding: 2% 0% 0% 5%;
  margin: 2% 0% 2% 0%;
  width: 65%;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

#main-sidenav ul li a:hover {
  color: darkgray;
}

.filter-active {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 0% 0% 0%;
  color: white;
}

.filter-active text {
  max-width: 80%;
  display: block;
  float: left;
  overflow-x: hidden;
  font-size: 1.2em;
}

.filter-active img {
  width: 25px;
  float: right;
  transition: 0.5s;
}

.filter-active img:hover {
  cursor: pointer;
  background-color: red;
}

/* MAIN Beitrag */

#main-beitrag {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  animation: main 1.5s;
  padding-bottom: 5vh;
}

#main-beitrag h6 {
	border: 0;
}

@-webkit-keyframes main {
  0% {
    margin-top: 5%;
    opacity: 0.5;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes sidenav {
  0% {
    margin-left: -5%;
    opacity: 0.5;
  }
  100% {
  margin-left: 0%;
  opacity: 1;
  }
}

.beitrag {
  background-color: rgba(37, 48, 61, 1);
  width: 80%;
  min-width: 320px;
  max-height: 300px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  border-radius: 10px;
}

.beitrag-top {
  width: 82%;
  background-color: rgba(55, 65, 160, 0.5);
  float: right;
  padding-left: 2%;
  border-bottom: 1px solid black;
  color: white;
  border-top-right-radius: 10px;
}

.beitrag-top span {
  float: right;
  padding: 1%;
}

.beitrag-top a {
  display: block;
  font-size: 1.5em;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: white;
  width: 60%;
  text-decoration: underline;
  overflow: hidden;
}

.beitrag-account {
  display: block;
  background-color: rgba(30, 45, 120, 0.5);
  width: 16%;
  height: auto;
  max-height: 230px;
  text-align: center;
  font-size: 1em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.beitrag-account a {
  display: block;
  font-size: 1em;
  width: 80%;
  height: 1vh;
  overflow: hidden;
  padding: 5% 10% 30% 10%;
  color: white;
  font-weight: 100;
  text-decoration: none;
}

.beitrag-account img {
  width: 80%;
  padding: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#beitrag-account-vorschau {
  display: block;
  background-color: rgba(30, 45, 120, 0.5);
  width: 16%;
  height: auto;
  text-align: center;
  font-size: 1em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#beitrag-account-vorschau h3 {
  font-size: 1em;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  color: white;
  font-weight: 100;
}

#beitrag-account-vorschau img {
  width: 80%;
  padding: 10%;
  padding-top: 10%;
  padding-bottom: 15%;
}

.beitrag-text {
  width: 80%;
  padding: 2%;
  max-height: 100px;
  height: auto;
  float: right;
  color: white;
  white-space: wrap;
  word-wrap: break-word;
}

.beitrag-img {
  width: 80%;
  margin-top: -8%;
  float: right;
}

.pay-vorschau-img {
  width: 5vw;
  height: 10vh;
  margin-right: 1%;
  transition: 0.5s;
}

.pay-vorschau-img:hover {
  cursor: pointer;
  opacity: 0.8;
}


@media only screen and (max-width: 800px) {
  #header h1 a {
    width: 80%;
  }
  #main-sidenav {
    animation: none;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;

  }

  #main-sidenav h5 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2% 0% 0% 0%;
  }

  #main-sidenav ul li a {
    margin: 2% 0% 2% 0%;
    font-size: 1rem;
  }

  #main-sidenav ul {
    width: 100%;
  }
  .filter-active {
    margin-top: -5px;
    padding-bottom: 10px;
  }
  .filter-active span {
    font-size: 1.2rem;
  }

  .filter-active img {
    width: 25px;
  }

  #main button {
    float: left;
    width: 100%;
    padding: 2%;
  }

  #main-beitrag {
    float: left;
    margin-top: 310px;
    animation: none;
    width: 100%;
  }

  .beitrag {
    width: 500px;
    margin-left: 0%;
  }

  .beitrag-account {
    width: 80px;
  }

  .beitrag-account a {
    font-size: 0.8em;
    color: white;
  }

  .beitrag-top a {
    font-size: 1rem;
  }

  .beitrag-text p {
    font-size: 0.8rem;
  }
}

/* ACCOUNT */

#main-account {
  width: 80%;
  height: auto;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin-top: 2.5%;
}

#account-angemeldet {
  text-align: center;
}

#account-angemeldet h2 {
  font-size: 1.5em;
}

#account-angemeldet a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.25%;
  transition: 0.5s;
  margin: 1%;
}

#account-angemeldet a:hover {
  color: darkgray;
}

#main-account form {
  border: 1px solid darkgray;
  width: 40%;
  min-width: 550px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-bottom: 2%;
  margin-bottom: 5%;
  /*-webkit-box-shadow: 13px 10px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 10px 19px -5px rgba(0,0,0,0.75);
  box-shadow: 13px 10px 19px -5px rgba(0,0,0,0.75);*/
  -webkit-animation: infoShow 1s;
}

#main-account form p {
margin-right: auto;
margin-left: auto;
font-size: 1.2em;
color: gray;
}

#main-account form input[type=submit] {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15%;
  color: white;
  border: 0;
  background-color: #00a9e2;
  font-size: 1.3em;
  transition: 0.5s;
  padding: 0.5% 8% 0.5% 8%;
  border-radius: 10px;
}

#main-account form input[type=submit]:hover {
  cursor: pointer;
  color: gray;
}

.form-account-container {
  width: 100%;
  height: auto;
  min-height: 350px;
  font-size: 1rem;
  display: none;
}

.form-account-container h2 {
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin-bottom: 10%;
}

.form-account-container input {
  padding: 2%;
  width: 80%;
  min-width: 100px;
}

.form-account-right {
  float: right;
  padding: 2% 0% 0% 0%;
  width: 25%;
  font-size: 1.0rem;
  min-width: 250px;
}
.form-account-left {
  float: left;
  padding: 2% 0% 0% 5%;
  width: 25%;
  min-width: 250px;
  font-size: 1.0rem;
}



.form-account-login {
  width: 100%;
  text-align: center;
  margin: 4% 0% 2% 0%;
  float: left;
  font-size: 0.8rem;
  display: block;
}

.form-account-login p {
  width: 45%;
  margin-bottom: 2%;
  color: darkgray;
}

.form-account-login input {
  padding: 1%;
}



.account-register-info {
  width: 40%;
  min-width: 550px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid darkgray;
  text-align: center;
  padding: 1% 0% 1% 0%;
}

.account-register-info h5 {
  font-weight: 100;
  color: gray;
}

.account-register-info button {
  background-color: transparent;
  border: 0;
  color: #4361ee;
}

/* Main Create */

#main-create {
  width: 80%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 2.5%;
}

#create-info {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 1%;
  min-height: 40px;
  -webkit-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.75);
  -webkit-animation: infoShow 1s;
}

#create-info h1 {
  font-size: 1.5rem;
  margin-bottom: 1%;
}

@-webkit-keyframes infoShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#create-container {
  background-color: rgba(37, 48, 61, 1);
  width: 90%;
  min-width: 320px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
}

#create-container form {
  width: 83%;
  height: 330px;
  float: left;
}

#create-container form textarea {
  padding: 1%;
  margin-top: 2%;
  margin-left: 0%;
  width: 50.5%;
  resize: none;
}

#count {
  float: right;
  font-size: 1.1rem;
  color: white;
  font-weight: 100;
  padding: 1%;
}

#create-container form input[type=text] {
  float: left;
  padding: 0.25%;
  font-size: 1.4em;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  width: 50%;
  padding-left: 2%;
  color: white;
}

#create-container form span {
  float: right;
  text-align: center;
  padding: 0.25%;
  font-size: 1.4em;
  background-color: transparent;
  width: 15%;
  color: white;
}

#create-container form input[type=submit] {
  padding: 0.25% 2% 0.25% 2%;
  margin-left: 3%;
}

#create-container form select {
  padding: 0.25%;
  float: right;
  margin-right: 10%;
}



#create-sidebar {
  width: 16%;
  float: left;
  height: 250px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(50, 70, 120, 1);
  border-right: 1px solid white;
}

#create-sidebar ul {
  list-style: none;
  text-align: center;
  margin-top: 30%;
}

#create-sidebar ul li {
  padding: 5%;
  transition: 0.5s;
  color: white;
}

#create-sidebar ul li:hover {
  background-color: rgba(37, 48, 61, 1);
  cursor: pointer;
}

#container-vorschau {
  width: 80%;
  float: right;
  display: none;
}

/* PAY */

#main-pay {
  width: 80%;
  height: auto;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin-bottom: 5%;
  margin-top: 2.5%;
}

#pay-container {
  width: 100%;
  min-height: 600px;
  height: auto;
}

.pay-vorschau {
  margin-top: -5%;
}

.pay-zahlung {
  width: 99%;
  margin-top: 5%;
  height: auto;
  float: left;
  border-radius: 10px;
  border: 1px solid darkgray;
  padding: 1% 0% 1% 0%;
}

#pay-uebersicht {
  width: 25%;
  background-color: rgba(37, 48, 61, 1);
  color: white;
  margin-left: 3%;
  float: left;
  padding: 1% 1% 1% 1%;
}

#pay-uebersicht h3 {
  font-size: 1.3em;
  padding: 1%;
  text-align: center;
}

#pay-uebersicht p {
  margin: 1%;
  text-align: center;
}

#pay-uebersicht table {
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#pay-uebersicht table tr {
 text-align: right;
 padding: 0% 10% 0% 30%;

}

#pay-uebersicht table tr td {
 font-size: 1.1em;
}
.summe {
  border-top: 1px solid white;
  padding: 5% 0% 1% 0%;
}

#pay-uebersicht ul {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  text-align: left;
}

#pay-uebersicht ul li {
  font-size: 1.1em;
}


#pay-bezahlung {
  width: 40%;
  margin-left: auto;
  margin-right: 15%;
}

.pay-bezahlung-radio img {
  width: 100%;
  background-color: white;
  height: 7vh;
}

.bezahlung {
  width: 20%;
  margin-top: 1%;
  display: inline-block;
  margin: 0% 2% 0% 2%;
}

.bezahlung img {
  margin-bottom: 5%;
}

.bezahlung p {
  text-align: center;
}

.pay-form {
  color: white;
  background-color: rgba(37, 48, 61, 1);
  width: 60%;
  min-height: 120px;
  text-align: center;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: 5%;
}

.pay-form h3 {
 font-size: 1.3em;
 padding: 2% 0% 2% 0%;
}

#form-upload {
  text-align: center;
  color: white;
  width: 50%;
  float: right;
}

#form-upload h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
  margin-bottom: 0%;
}

#form-kredit {
  width: 50%;
}

.pay-form input {
  width: 75%;
  margin-top: 2%;
}

.pay-form input[type=submit] {
  width: 25%;
  border: 0;
  font-size: 1.2em;
  padding: 0.5%;
}

.pay-form input[type=submit]:hover {
cursor: pointer;
}

.pay-form select {
  width: 75%;
  margin-top: 2%;
}

#pay-error {
  display: none;
}

/*IMG*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    padding-bottom: 5%;
}

#myImg {
  width: 100%;
  max-height: 6vh;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.container-img {
	position: relative;
	width: 15%;
	float: left;
  margin-left: 2%;
}

.container-img:hover #myImg {
  opacity: 0.7;
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

#responsive-create-sidebar {
  display: none;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

    /* CREATE */

    #create-info {
      width: 100%;
    }

    #create-info p {
      font-size: 15px;
    }

    #create-info b {
      font-size: 15px;
    }

    #create-info h1 {
      font-size: 20px;
    }

    #responsive-create-sidebar {
      display: block;
      float: left;
      width: 100%;
      background-color: rgba(37, 48, 61, 1);
      color: white;
    }

    #responsive-create-sidebar ul {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      list-style: none;
      text-align: center;
    }

    #responsive-create-sidebar ul li {
      display: inline-block;
      font-size: 20px;
      margin-right: 2%;
      margin-right: 2%;
      padding: 1% 0% 1% 0%;
    }

    #create-sidebar {
      display: none;
    }

    #create-container {
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0;
    }

}
